{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pet Adoption | {{ pet.name }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static  'css/style.css'%}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
        <a href="{% url 'pages:homepage' %}" class="navbar-brand ms-lg-5">
            <h1 class="m-0 text-uppercase text-dark">
                <i class="bi bi-house fs-1 text-primary me-3"></i>Pet Adoption
            </h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{% url 'pages:homepage' %}" class="nav-item nav-link {% if request.path == '/' %}active{% endif %}">
                    Home
                </a>
                <a href="{% url 'pets:pets' %}" class="nav-item nav-link {% if request.path == '/pets/' %}active{% endif %}">
                    Pets
                </a>
                <a href="{% url 'posts:posts' %}" class="nav-item nav-link {% if request.path == '/posts/' %}active{% endif %}">
                    Posts
                </a>
                {% if user.is_authenticated %}
                    <a href="{% url 'users:selected_pets' %}" class="nav-item nav-link {% if request.path == '/accounts/selected-pets/' %}active{% endif %}">
                        Selected Pets
                    </a>
                    <a href="{% url 'users:history' %}" class="nav-item nav-link {% if request.path == '/accounts/history/' %}active{% endif %}">
                        History
                    </a>
                    <a href="{% url 'users:logout' %}" class="nav-item nav-link me-5">
                        Log out
                    </a>
                {% else %}
                    <a href="{% url 'users:login' %}" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5">
                        Sign in <i class="bi bi-arrow-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-9">
                <div class="mb-3">
                    <img class="img-fluid w-100 rounded mb-5" src="{{ pet.image.url }}" alt="{{ pet.name }}">
                    <h1 class="text-uppercase mb-4">
                        {{ pet.name }}
                    </h1>
                    <table class="table table-bordered table-striped table-hover mb-5">
                        <thead>
                        <tr>
                            <th scope="col">
                                Characteristics
                            </th>
                            <th scope="col">
                                Details
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <strong>Type:</strong>
                            </td>
                            <td>
                                {{ pet.type.type }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Breed:</strong>
                            </td>
                            <td>
                                {{ pet.breed.breed }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Gender:</strong>
                            </td>
                            <td>
                                {{ pet.gender }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Size:</strong>
                            </td>
                            <td>
                                {{ pet.size.size }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Age:</strong>
                            </td>
                            <td>
                                {{ pet.age }} year(s)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Color:</strong>
                            </td>
                            <td>
                                {{ pet.color.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Price per 1 pet:</strong>
                            </td>
                            <td>
                                ${{ pet.price }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Quantity Available:</strong>
                            </td>
                            <td>
                                {{ pet.quantity }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 class="text-uppercase mb-3">
                        Description
                    </h3>
                    <p>
                        {{ pet.description }}
                    </p>

                    {% if user.is_authenticated %}
                        <div class="d-flex align-items-center mb-4">
                            {% if not is_in_selected_pets %}
                                <form action="{% url 'users:add_to_selected_pets' pk=pet.pk %}" method="post" class="d-flex align-items-center">
                                    {% csrf_token %}
                                    <div class="d-flex align-items-center">
                                        <input class="form-control bg-light border-0 py-3 me-2" type="number" min="1" name="quantity" value="1" placeholder="Quantity" style="max-width: 120px;">
                                        <button type="submit" class="btn btn-outline-primary py-3">
                                            Adopt
                                        </button>
                                    </div>
                                </form>
                                {% if messages %}
                                    {% for message in messages %}
                                        <h4 class="mx-3">
                                            {{ message }}
                                        </h4>
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                <p>
                                    This pet is already in 'SELECTED PETS' section
                                </p>
                            {% endif %}
                        </div>
                    {% else %}
                        <p>
                            Sign in to your account to adopt pets
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-3">
                <div class="mb-5">
                    <h3 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">
                        Related Pets
                    </h3>
                    {% for pet in related_pets %}
                        <div class="d-flex overflow-hidden mb-3">
                            <img class="img-fluid" src="{{ pet.image.url }}" style="width: 100px; height: 100px; object-fit: cover;" alt="{{ pet.name }}">
                            <a href="{% url 'pets:pet_detail' pk=pet.pk %}" class="h5 d-flex align-items-center bg-light px-3 mb-0" style="width: 100%">
                                {{ pet.name }}
                            </a>
                        </div>
                    {% empty %}
                        <p>
                            No pets found
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light mt-4 py-5">
        <div class="container pt-2">
            <div class="row g5 justify-content-center">
                <div class="col-lg-4 offset-1">
                    <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">
                        Get In Touch
                    </h5>
                    <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>
                        Our office: Tashkent, Uzbekistan
                    </p>
                    <p class="mb-2"><i class="bi bi-envelope-open text-primary me-2"></i>
                        Email Us: info@example.com
                    </p>
                    <p class="mb-0"><i class="bi bi-telephone text-primary me-2"></i>
                        Call Us: +998(99)123-45-67
                    </p>
                </div>
                <div class="col-lg-4 offset-2">
                    <h5 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">
                        Quick Links
                    </h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-body mb-2" href="{% url 'pages:homepage' %}">
                            <i class="bi bi-arrow-right text-primary me-2"></i>Home
                        </a>
                        <a class="text-body mb-2" href="{% url 'pages:homepage' %}">
                            <i class="bi bi-arrow-right text-primary me-2"></i>About Us
                        </a>
                        <a class="text-body mb-2" href="{% url 'pages:homepage' %}">
                            <i class="bi bi-arrow-right text-primary me-2"></i>Our Services
                        </a>
                        <a class="text-body mb-2" href="{% url 'posts:posts' %}">
                            <i class="bi bi-arrow-right text-primary me-2"></i>Blog
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-dark text-white-50 py-4">
        <div class="container">
            <div class="row g-5">
                <div class="text-center">
                    <p class="mb-0">
                        This template was designed by <a class="text-white" href="https://htmlcodex.com">HTML Codex</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="btn btn-primary py-3 fs-4 back-to-top">
        <i class="bi bi-arrow-up"></i>
    </a>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>